<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tdbloader3/src/main/java/cmd/tdbloader3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cmd.tdbloader3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-conf conf/hadoop-local.xml -D overrideOutput=true -D verify=true src/test/resources/input target/output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tdbloader3"/>
</launchConfiguration>
